* {
    border: none;
    font-family: "Cousine Nerd Font";
    min-height: 18px;
}

@import "theme.css";

window#waybar {
    background: @bar-bg;
}

#clock.calendar,
#clock.hour,
#workspaces,
#tray,
#pulseaudio,
#network,
#custom-notifications,
#custom-power {
    font-size: 18px;
	font-weight: bold;
    border-radius: 9px;
	margin: 0px 5px;
	padding: 0px 0px;
}

#clock.hour {
	background-color: @yellow;
	color: @black;
	padding: 0px 5px;
	margin: 4px 10px;
}

#workspaces {
    border-radius: 9px;
	background: @main-bg;
	margin: 4px 5px;
	padding: 0px 4px;
}

#workspaces button {
    background: @wb-ina-bg;
    color: @wb-act-fg;
	margin: 1px 4px;
	padding: 0px 2px;
    animation: ws_active 8s ease-in-out 1;
	transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
	border-radius: 12px;
}

#workspaces button.active {
    background: @wb-act-bg;
	margin: 1px 4px;
	padding: 0px 14px;
    animation: ws_active 8s ease-in-out 1;
	transition: all 0.25s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @cyan;
    /* color: @wb-hvr-fg; */
    animation: ws_hover 5s ease-in-out 1;
    transition: all 0.2s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-power {
	margin: 3px 5px;
	padding: 0px 8px 0px 4px;
	color: #704B5C;
	background-color: @red;
}

tooltip {
	font-weight: normal;
	background: @main-bg;
	color: @main-fg;
	border-width: 1px;
}

#tray,
#tray menu,
menu,
menuitem {
	font-weight: normal;
	font-size: 13px;
}

#tray menu separator,
menu separator {
	min-height: 2px;
}

