gui:
  showRootItemInFileTree: false
  switchTabsWithPanelJumpKeys: true
  # Fraction of the total screen width to use for the left side section. You may want to pick a small number (e.g. 0.2) if you're using a narrow screen, so that you can see more of the main section.

  # Number from 0 to 1.0.
  sidePanelWidth: 0.333
  # If true, increase the height of the focused side window; creating an accordion effect.

  expandFocusedSidePanel: true
  # The weight of the expanded side panel, relative to the other panels. 2 means

  # twice as tall as the other panels. Only relevant if `expandFocusedSidePanel` is true.
  expandedSidePanelWeight: 3
  # If true, show a random tip in the command log when Lazygit starts

  showRandomTip: false
  # If true, wrap lines in the staging view to the width of the view. This

  # makes it much easier to work with diffs that have long lines, e.g.

  # paragraphs of markdown text.
  wrapLinesInStagingView: false
  # Nerd fonts version to use.

  # One of: '2' | '3' | empty string (default)

  # If empty, do not show icons.
  nerdFontsVersion: "3"
  # Length of commit hash in commits view. 0 shows '*' if NF icons aren't on.

  commitHashLength: 7
  # Config relating to the spinner.

  spinner:
    # The frames of the spinner animation.
    frames:
      - '◜'
      - '◝'
      - '◞'
      - '◟'
    # The "speed" of the spinner in milliseconds.

    rate: 150
  # Config relating to colors and styles.

  # See https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#color-attributes
  theme:
    # Border color of focused window
    activeBorderColor:
      - blue
      - bold
    # Background color of selected line.

    # See https://github.com/jesseduffield/lazygit/blob/master/docs/Config.md#highlighting-the-selected-line
    selectedLineBgColor:
      - black
# Keybindings
keybinding:
  universal:
    prevBlock-alt: <c-k>
    nextBlock-alt: <c-j>
    prevTab: h
    nextTab: l
  commits:
    moveDownCommit: <disabled>
    moveUpCommit: <disabled>
# Config relating to git
git:
  # See https://github.com/jesseduffield/lazygit/blob/master/docs/Custom_Pagers.md
  pagers:
    - # Value of the --color arg in the git diff command. Some pagers want this to be set to 'always' and some want it set to 'never'
      colorArg: always
      # e.g.

      # diff-so-fancy

      # delta --dark --paging=never

      # ydiff -p cat -s --wrap --width={{columnWidth}}
      pager: delta --dark --paging=never --line-numbers --tabs=4 --max-line-length=0 --wrap-max-lines=0
      # If true, Lazygit will use whatever pager is specified in `$GIT_PAGER`, `$PAGER`, or your *git config*.

      # If the pager ends with something like ` | less` we will strip that part out,

      # because less doesn't play nice with our rendering approach.

      # If the custom pager uses less under the hood, that will also break rendering

      # (hence the `--paging=never` flag for the `delta` pager).
      useConfig: false
      # e.g. 'difft --color=always'

      # externalDiffCommand: difft --color=always --display=inline
os:
  editPreset: 'nvim'
